@import url(/assets/css/reset.css);

html,
body {
  font-family: "Gowun Batang", serif;
  font-size: 15px;
  background-color: #f6ffeb;
}

.detail__content {
  padding: 3em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail__title-bg {
  position: absolute;
  left: 30em;
  top: -2em;
}

.detail__title span {
  margin-left: 3.5em;
  font-size: 2.2em;
  font-weight: 500;
  font-style: italic;
  background-color: #fcffdc;
  color: #4d4d4d;
  letter-spacing: -0.05em;
}

.detail__table {
  max-width: 100%;
  padding: 3em;
}

.detail__table td {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5em;
  font-size: 1.2em;
}

.modify-btn .button {
  position: relative;
  width: 90px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  margin-right: 5px;
}

.modify-btn .button,
.modify-btn .button__icon,
.modify-btn .button__text {
  transition: all 0.3s;
}

.modify-btn .button .button__text {
  transform: translateX(12px);
  color: #7e7e7e;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -1px;
}

.modify-btn .button .button__icon {
  position: absolute;
  transform: translateX(52px);
  height: 100%;
  width: 30px;
  background-color: #edd77d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-btn .button .svg {
  width: 30px;
  stroke: #fff;
}

.modify-btn .button:hover {
  background: #fbcb0b;
}

.modify-btn .button:hover .button__text {
  color: transparent;
}

.modify-btn .button:hover .button__icon {
  width: 83px;
  transform: translateX(0);
}

.modify-btn .button:active .button__icon {
  background-color: #fbcb0b;
}

.modify-btn .button:active {
  border: 1px solid #fbcb0b;
}

.cancel-btn .button {
  position: relative;
  width: 90px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  margin-right: 5px;
}

.cancel-btn .button,
.cancel-btn .button__icon,
.cancel-btn .button__text {
  transition: all 0.3s;
}

.cancel-btn .button .button__text {
  transform: translateX(12px);
  color: #7e7e7e;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -1px;
}

.cancel-btn .button .button__icon {
  position: absolute;
  transform: translateX(52px);
  height: 100%;
  width: 30px;
  background-color: #ff8585;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn .button .svg {
  width: 30px;
  stroke: #fff;
}

.cancel-btn .button:hover {
  background: #ff6060;
}

.cancel-btn .button:hover .button__text {
  color: transparent;
}

.cancel-btn .button:hover .button__icon {
  width: 83px;
  transform: translateX(0);
}

.cancel-btn .button:active .button__icon {
  background-color: #ff6060;
}

.cancel-btn .button:active {
  border: 1px solid #ff6060;
}
